<div class="row">
    <div class="col-md-4">
        <h1>Chart Works!</h1>
        <div *ngIf="chartData">
            <google-chart [type]="chartData.type" [data]="data" [columns]="chartData.chartColumns"
                [options]="chartData.options" [width]="chartData.width" [height]="chartData.height">
            </google-chart>
        </div>
        <hr><br>
        <a [routerLink]="['/']" class="btn btn-primary">Home</a>
        <button class="btn btn-primary" (click)="refresh()">Refresh</button>
    </div>
</div>