<div class="row">
  <div class="col-md-4">

    <h1>Angular + NGRX</h1>
    <hr>

    <div *ngIf="isAuthenticated; then doSomething; else doSomethingElse;"></div>
    <ng-template #doSomething>
      <p *ngIf="user.username">You logged in <em>{{user.username}}!</em></p>
      <button class="btn btn-primary" (click)="logOut()">Log out</button>
      <a [routerLink]="['/status']" class="btn btn-primary">Status</a>
      <a [routerLink]="['/chart']" class="btn btn-primary">Chart</a>
    </ng-template>
    <ng-template #doSomethingElse>
      <a [routerLink]="['/log-in']" class="btn btn-primary">Log in</a>
      <a [routerLink]="['/sign-up']" class="btn btn-primary">Sign up</a>
    </ng-template>
  </div>
</div>